.avaliacao{
background:#1f2937;
padding:40px;
border-radius:20px;
max-width:500px;
margin:auto;
text-align:center;
}

.avaliacao h3{
font-size:3rem;
color:#d4af37;
margin-bottom:15px;
}

.estrelas{
font-size:2rem;
color:#d4af37;
margin-bottom:20px;
}

.avaliacao p{
font-size:1.1rem;
line-height:1.6;
}
